{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021, // Atualizei para a versão mais recente do ECMAScript
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "import/no-commonjs": "error",
    "react/prop-types": "off" // Desativei a regra que obriga a declaração de propTypes
  }
}
